@import "tailwindcss";

html, body{
  overflow-x: hidden;
}

@theme {
    --text-6xl: 4rem;
    --text-6xl--line-height: 4.75rem;

    --text-5xl: 3.3125rem;
    --text-5xl--line-height: 4rem;

    --text-4xl: 2.75rem;
    --text-4xl--line-height: 3.25rem;

    --text-3xl: 2.3125rem;
    --text-3xl--line-height: 2.75rem;

    --text-2xl: 1.9375rem;
    --text-2xl--line-height: 2.375rem;

    --text-xl: 1.625rem;
    --text-xl--line-height: 2rem;

    --text-lg: 1.3125rem;
    --text-lg--line-height: 1.75rem;

    --text-base: 1rem;
    --text-base--line-height: 1.5rem;

    --text-sm: 1rem;
    --text-sm--line-height: 1.25rem;

    --text-xs: 0.75rem;
    --text-xs--line-height: 1.25rem;

    /* === PALETA DE CORES - Primary Brand (Laranja) === */
    /* Background suave */
    --color-primary-100: #FFF2E6;
    /* Principal / Fundo botão primário */
    --color-primary-500: #FF6A00;
    /* Hover */
    --color-primary-600: #E65C00;
    /* Active/Pressed */
    --color-primary-700: #CC5200;

    /* === Branco (Base Estrutural) === */
    /* White Pure */
    --color-white-pure: #FFFFFF;
    /* Off White - fundo leve / principal light mode */
    --color-off-white: #F7F7F8;
    /* Soft White - cards alternativos */
    --color-soft-white: #EFEFF1;

    /* === Preto (Autoridade e Estrutura) === */
    /* Fundo escuro premium / dark mode principal */
    --color-black-900: #0F0F0F;
    /* Texto primário */
    --color-black-800: #1A1A1A;
    /* Texto secundário */
    --color-black-600: #555555;
    /* Bordas sutis */
    --color-black-300: #D9D9D9;

    /* === Cores de Sistema / Feedback (semânticas) === */
    /* Sucesso */
    --color-success: #16A34A;
    /* Base */
    --color-success-100: #DCFCE7;
    /* Background leve */

    /* Aviso / Warning */
    --color-warning: #F59E0B;
    /* Base */
    --color-warning-100: #FEF3C7;
    /* Background leve */

    /* Erro */
    --color-error: #DC2626;
    /* Base */
    --color-error-100: #FEE2E2;
    /* Background leve */

    /* Info */
    --color-info: #2563EB;
    /* Base */
    --color-info-100: #DBEAFE;
    /* Background leve */
    --font-poppins: var(--font-poppins);

}

.avatar-flutuante {
    animation: float 5s ease-in-out infinite;
  transform: translateY(0);
  will-change: transform;
}

@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-12px); }
  100% { transform: translateY(0px); }
}